* {
    box-sizing: border-box;
}

.father {
    width: 1000px;
    height: 1000px;
    background: green;
    display: flex;
    flex-direction: column;
}

.hw-100 {
    height: 100%;
    width: 100%;
}

.hw-50 {
    height: 50%;
    width: 50%;
}

.boxes {
    border: red solid;
}

.box-1 {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.box-2 {
    display: flex;
    justify-content: ;
}

.child-box1-1 {
    background: yellow;
    height: 500px;
    width: 50%;
    margin: 10px;
}

.child-box1-2 {
    margin: 10px;
}

.child-small-box-style {
    height: 150px;
    width: 150px;
    background: blue;
}
.child-box-2-1{
    background: yellow;
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;

}
.margin-10px{
    margin: 10px;
}
.child-box-2-5{
    width: 50%;
    display: flex;
    justify-content: space-between;
}